---
import Layout from "@/layouts/Layout.astro";
import Title from "#/title.astro";
import { useDayCollection } from "@/hooks/useDayCollection";
import { useSessionCollection } from "@/hooks/useSessionCollection";
import GoHome from "@@/navigation/go-home.astro";
import Day from "@@/day/day.astro";
import SessionResources from "@@/session/session-resources.astro";

export async function getStaticPaths() {
  const sessions = await useSessionCollection();
  return sessions.map(({ id, name, description, resources }) => {
    return {
      params: { id },
      props: { name, description, resources },
    };
  });
}

const { id } = Astro.params;

const days = await useDayCollection(id);

const { name, description, resources } = Astro.props;
---

<Layout title={name}>
  <GoHome />
  <Title class="mt-4">{name}</Title>
  <p class="mt-2">{description}</p>
  {resources && <SessionResources class="mt-4" resources={resources} />}
  <div class="flex mt-4 flex-col gap-4">
    {
      days.map(([day, Content]) => (
        <Day {...day.data} id={day.id}>
          <Content />
        </Day>
      ))
    }
  </div>
</Layout>
